@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap");

/**
 * reset.css section, basically.
*/
:root,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --sherwood-green: hsl(157, 45%, 20%);
  --cream: hsl(27, 39%, 92%);
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
  --attribution-blue: hsl(228, 45%, 44%);
  --brandeis-blue: hsl(212, 95%, 48%);
}

body {
  background-color: var(--cream);
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.product-preview-card {
  max-width: 343px;
  background-color: var(--white);
  border-radius: 0.625rem;
  /* Center the card within the body */
  margin: auto;
  display: flex;
  flex-direction: column;
}

picture>img {
  width: 100%;
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
}

.product-preview-card__text {
  padding: 1.5rem;
}

.product-preview-card__type {
  color: var(--dark-grayish-blue);
  letter-spacing: 0.3125rem;
  line-height: 0.9375rem;
  font-size: 0.75rem;
  font-weight: 500;
}

.product-preview-card__title {
  color: var(--very-dark-blue);
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  margin-top: 0.75rem;
  margin-bottom: 1rem;
  line-height: 2rem;
}

.product-preview-card__description {
  color: var(--dark-grayish-blue);
  text-align: start;
  font-size: 0.875rem;
  line-height: 1.4375rem;
}

.product-preview-card__price {
  margin-top: 1.5rem;
  margin-bottom: 1.25rem;
  display: flex;
  gap: 1.1875rem;
}

.product-preview-card__new-price {
  color: var(--dark-cyan);
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2rem;
}

.product-preview-card__old-price {
  color: var(--dark-grayish-blue);
  text-decoration: line-through;
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 1.4375rem;
  align-self: center;
}

.product-preview-card__cta {
  background-color: var(--dark-cyan);
  color: var(--white);
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 3rem;
  border-radius: 0.5625rem;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.0625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.71875rem;
}

.product-preview-card__cta:hover {
  background-color: var(--sherwood-green);
  cursor: pointer;
}

.product-preview-card__cta:active {
  transform: translateY(1px);
}

.attribution {
  color: var(--light-cyan);
  font-size: 0.875rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.attribution a {
  text-decoration: none;
  color: var(--brandeis-blue);
}

.attribution a:hover {
  color: var(--attribution-blue);
}

/*
 * Desktop media queries.
*/

@media screen and (min-width: 768px) {
  .product-preview-card {
    max-width: 600px;
    max-height: 450px;
    flex-direction: row;
  }

  picture>img {
    width: 300px;
    height: 100%;
    border-top-left-radius: 0.625rem;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0.625rem;
  }

  .product-preview-card__footer {
    place-self: center;
  }

  .product-preview-card__text {
    padding: 31px;
  }

  .product-preview-card__price {
    padding-top: 1.5rem;
    padding-bottom: 2.725rem;
  }
}